// main: ../styles.less, compress: false, sourceMap: false
@font-main: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
@font-secondary: 'Space Mono', 'Courier New', Courier, monospace;

@color: #4CBF7E;
@color-accent: #3a97d4;
@color-background: #56D38A;
@color-background-accent: #ADEEFF;
@color-body: #E1EDE3;
@color-body-text: #294435;
@color-card: #F7FCF7;
@color-card-line: #E1EDE8;
@color-card-header: #FFF;
@color-card-header-line: #E1EDE3;
@color-card-text: #4F6B59;
@color-icon: #A3B7A7;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (normal monitors, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (desktops, 1200px and up)
@media (min-width: 1200px) {}
